<!DOCTYPE html>
<html>
<head>
  <title>Hw</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://192.168.2.143:8080/nowjs/now.js" %> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
